html, body {
  font-family: Sans-Serif, Arial;
  background: #22241b;
  color: #c7c9bd;
}

#navbar {
  position: fixed;
  display: grid;
  background: #81c73c;
  border-right: 2px solid black;
  line-height: 3;
  top: 0px;
  left: 0px;
  min-width: 290px;
  width: 300px;
  height: 100%;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link {
  color:black;
  text-decoration: none;
  font-size: 1.3rem;
  border-top: double;
  position: relative;
  padding: 10px 20px;
  margin-bottom: auto;
}


header {
  font-size: 1.7rem;
  font-weight: bold;
}

#navbar header {
  text-align: center;
  color: Black;
  font-size: 1.5rem;

}

main p {
  line-height: 1.5;
}

section {
  margin-left: 20px
}

section header {
  margin-left: 20px;
  margin-top: 50px;
}

#main-doc {
  margin-left:300px;
  margin-bottom: 40px;
}

code {
  background: #000814;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

#class {
  color:#dde805;
}

#method {
  color:#0965ed;
}

#result {
  color:#05e81f;
}

a {
  color: #c7c9bd;
  text-decoration: none;
}

#ref:hover {
  color: #941694;
  text-decoration: underline;
  text-decoration-color: #941694;
}
/* Small devices (portrait tablets and large phones, 678px and up) */
@media only screen and (max-width: 678px) {
 
  .nav-link {
  color:black;
  text-decoration: none;
  border-top: 1px solid;
  position: relative;
  padding: 10px 20px;
  margin-bottom: auto;
}

  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    text-align
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 290px;
  }

  main header {
    color: white;
  }
}

/*anything larger than 678px*/
@media only screen and (min-width: 678px) {

}
